h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 0.5rem;
}

button{
    width: 6rem;
    font-size: 1rem;

}

.main{
    margin: 3rem 2rem 0 3rem;
}

.row{
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr);
    grid-template-areas: "title author pages read";
    align-items: center;
    padding-left: 1rem;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.add{
    background-color: #1ED761;
}

.overlay{
    position: fixed;
    top : 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

.overlay--hidden{
    display: none;
  }

.modal{
    display: flex;
    position: fixed;
    width: 100%;
    top: 30%;
    justify-content: center;
    
}

.modal--hidden{
    display: none;
}

.modal__content{
    width: 350px;
    background-color: white;
}

.modal__form{
    margin-top: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 2rem;
}

.modal__title{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    clear: both;
}

.modal__close-btn{
    float: right;
    padding: 7px 8px;
    background-color: rgb(199, 53, 53);
    cursor: pointer;
    transition: all ease 0.2s;
}
.modal__close-btn:hover{
    background-color: rgb(215, 117, 117);
}
.modal__close-btn:active{
    box-shadow: inset 0 0 8px rgb(145, 67, 67);
}

.modal__submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #3838c4;
    transition: all ease 0.2s;
    border: none;
    height: 2rem;
    width: 100%;
}
.modal__submit-btn:hover{
    background-color: rgb(86, 86, 196);
}
.modal__submit-btn:active{
    box-shadow: inset 0 0 10px rgb(49, 49, 140);
}

input{
    margin: 0.5rem 1rem;
}

input[type=text],
input[type=number]{
    width: 90%;
}

input[type=checkbox]{
    justify-self: start;
}

button[type=submit]{
    grid-row: 5;
    grid-column: 2;
    justify-self: center;
    border: none;
    border-radius: 5px;
    background-color: #3838c4;
    color: white;
    height: 30px;
}
button[type=submit]:hover{
    background-color: rgb(86, 86, 196);
}
button[type=submit]:active{
    box-shadow: inset 0 0 10px rgb(49, 49, 140);
}
