@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --thin-font-weight: 100;
    --regular-font-weight: 400;
    --bold-font-weight: 900;
    --background: #191927
}

body{
    color: white;
    background-color: var(--background);
    font-family: Montserrat;
}

.viewport{
    display: grid;
    grid-template-areas: "header"
                         "controls"
                         "main";
    grid-template-columns: 4fr;
    grid-template-rows: 50px 200px 1fr;
    height: 100vh;
}

.viewport--blur{
    filter: blur(4px);
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.controls{
    grid-area: controls;
    padding-top: 7rem;
    padding-left: 3rem;
}

.add-btn{
    border-radius: 20px;
    background-color:rgb(142, 179, 106);
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    height: 30px;
    width: 150px;
}
.add-btn:hover{
    background-color: rgb(162, 235, 90);
}
.add-btn:active{
    box-shadow: inset 0 0 10px rgb(25, 26, 25)
}

.remove-btn{
    font-size: 0.8rem;
    color: white;
    background-color: rgb(189, 70, 70);
    border: none;
    border-radius: 10px;
    height: 1.2rem;
}
.remove-btn:active{
    box-shadow: inset 0 0 10px rgb(25, 26, 25)
}

h1{
    display: inline;
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.logo{
    display: inline-block;
}

.table{
    grid-area: main;
    margin: 3rem 5rem 0 5rem;
}

.row{
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr) 100px;
    grid-template-areas: "title author pages read remove";
    align-items: center;
    padding-left: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.entry{
    height: 2rem;
    font-weight: var(--thin-font-weight);
}

.entry:hover{
    background-color: rgba(255,255,255,0.2);
}

.overlay{
    position: fixed;
    top : 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    background-color: rgba(0, 0, 0, 0.5);
  }

.overlay--hidden{
    display: none;
  }

.modal{
    display: flex;
    position: fixed;
    width: 100%;
    top: 30%;
    justify-content: center;
    
}

.modal--hidden{
    display: none;
}

.modal__content{
    width: 350px;
    background-color: var(--background);
}

.modal__form{
    margin-top: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 2rem;
}

.modal__title{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    clear: both;
}

.modal__close-btn{
    float: right;
    padding: 7px 8px;
    background-color: rgb(199, 53, 53);
    cursor: pointer;
    transition: all ease 0.2s;
}
.modal__close-btn:hover{
    background-color: rgb(215, 117, 117);
}
.modal__close-btn:active{
    box-shadow: inset 0 0 8px rgb(145, 67, 67);
}

.modal__submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #3838c4;
    transition: all ease 0.2s;
    border: none;
    height: 2rem;
    width: 100%;
}
.modal__submit-btn:hover{
    background-color: rgb(86, 86, 196);
}
.modal__submit-btn:active{
    box-shadow: inset 0 0 10px rgb(49, 49, 140);
}

input{
    color: white;
    font-family: Montserrat;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    background-color: var(--background);
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

input[type=text],
input[type=number]{
    width: 100%;
}

input[type=checkbox]{
    justify-self: start;
}

button{
    width: 6rem;
    font-size: 1rem;
}

button[type=submit]{
    grid-row: 5;
    grid-column: 2;
    justify-self: center;
    border: none;
    border-radius: 5px;
    background-color: #3838c4;
    color: white;
    height: 30px;
}
button[type=submit]:hover{
    background-color: rgb(86, 86, 196);
}
button[type=submit]:active{
    box-shadow: inset 0 0 10px rgb(49, 49, 140);
}
